*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: hsl(197, 100%, 12%);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;   
}

$color:hsl(197, 100%, 12%);

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10rem;
}

.currency-calculator{
    width: 55%;
    background-color: rgb(162, 177, 165);
    border-radius: 0.5rem;
    padding: 3rem 0;
    p{
        padding: 1rem;
        font-size: 1.7rem;
    }
    h1{
        padding: 1rem;
        font-size: 2.5rem;
    }
    .currency select {
        padding: 1rem 2rem 1rem 1rem;
        font-size: 16px;
        border: 0;
        outline: none;
        margin: 3rem 0;
    }
    
    .currency input {
        border: 0;
        outline: none;
        font-size: 2.4rem;
        background: transparent;
        text-align: right;
        color: #fff;
        margin: 2rem 0;
    }

}
.currency-rate{
    
    margin-right: 5rem;
    p{
        padding: 1rem;
        font-size: 1.7rem;
    }
    h1{
        margin-top: -2rem;
        padding: 1rem;
        font-size: 2.5rem;
    }
}

.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn{
        background-color: rgb(240, 39, 39);
        color: #fff;
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin: 2rem 8.5rem;
        border: 0.1rem solid $color;
    }

    .rate{
        font-size: 1.7rem;
        background-color: #fff;
        color: rgb(240, 39, 39);
        margin: 2rem 8.5rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 0.5rem;
        height: 3rem;
        width: 20rem;
    }
}

.currency-rate {
    width: 25%;
    background-color: rgb(162, 177, 165);
    border-radius: 0.5rem;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    select{
    padding: 1rem 2rem 1rem 1rem;
    font-size: 16px;
    border: 0;
    outline: none;
    width: 80%;
    }

    .rates-text{
        background-color: #fff;
        border-radius: 0.5rem;
        height: 20rem;
        width: 80%;
        overflow: scroll;
        color: $color;
        margin-top: 1.5rem;

        .element{
            
            font-size: 1.7rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin: 1rem;
        }
    }

    
}

@media (max-width:77rem) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .currency-calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        .currency select{
            width: 20rem;
        }
        .currency input{
            width: 20rem;
        }
    }
    .swap-rate-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        width: 20rem;
    }
}


// sass
// 1- use of operators (+,-,*,/)
// 2- variables $bg-color : #fff
// 3- nesting
// 4- mixing
// 5- partials
// 6- parameters